*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.mobile-menu{
  display: none;
}
#cryptocurrencies, #news{
  background-color: rgb(16, 15, 15);
}

header{
  background-color: rgb(50, 139, 169);
  min-height: 70px;
}

.header{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header-container{
  display: flex;
  align-items: center;
}

/* .token-icon{
  width: 70px;
  height: 70px;
} */
header img{
  width: 100px; height: 100px;
  display: flex;
  align-self: center;
}
.logo{
  display: flex; 
  align-items: center;
  flex-basis: 30%;
}
.logo a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
}
figcaption{
  color: rgb(142, 15, 15);
  font-size: 1.8rem;
  padding-left: 10px;
  font-weight: 600;
}
nav{
  display: flex;
  flex-basis: 70%;
  padding-right: 30px;
}

nav ul{
  display: flex;
  margin: 0;
  margin-left: auto;
  flex-direction: row;
  gap: 20px;
}

nav ul li{
  display: flex;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: rgb(249, 247, 247);
  font-size: 1.2rem;
}

nav ul li a:hover{
  color: rgb(142, 15, 15);
}

.table, .favorite{
  color: white;
  display: flex;
  flex-direction: column;
  border-bottom: white 2px solid;
}
.tableRow{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.tokenDiv{
  display: flex; 
  flex-basis: 40%;
}
.priceDiv{
  display: flex;
  align-items: center;
  flex-basis: 30%;
}
.marketCapDiv{
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
.hourDiv{
  flex-basis: 15%;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}
.change{
  text-align: center;
}
.table img{
  width: 30px; height: 30px;
}

.token{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star{
  flex-basis: 20%;
}
.token-icon{
  flex-basis: 30%;
}
.token-data{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

/* MARKET STATISTICS */
#market-statistics{
  background-color: #ffff;
}

#market-statistics article{
  display: flex;
}

#market-statistics main div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#market-statistics main div i{
  flex-basis: 15%;
  font-size: 1.5rem;
  color: blue;
}
#market-statistics main div span{
  flex-basis: 35%;
}
#market-statistics main div small{
  flex-basis: 50%;
  text-align: end;
}
.fa-whatsapp{
  color: #25D366;
  font-size: 3rem;
}
.whatsapp-page article a{
  padding: 8px;
  align-self: center;
  width: 70%;
  background-color: white; 
  border-radius: 10px;
}
.whatsapp-page article a span{
  color: #25D366;
  font-size: 1.2rem;
}

/* CRYPTOCURRENCY NEWS */

#moreNews{
  cursor: pointer;
  color: blue;
}

.newsContainer img{
  max-width: 50px;
  max-height: 50px;
}

.newsContainer .row{
  display: flex;
  flex: wrap;
}

.newsContainer .row .newsBox{
  margin: 10px 4px;
  max-width: 31%;
  height: 300px;
}

.newsBox article{
  display: flex;
  flex-direction: column;
}

.newsBox article figure{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
}
.newsBox article figure figcaption{
  word-wrap: break-word;
  word-break: break-all;
}

footer{
  background: rgb(70, 70, 218);
}

/* ********************* MEDIA QUERIES *********************** */
@media screen and (max-width: 700px) {
  .header{
    display: flex;
    align-items: center;
    position: relative;
  }

  header img{
    width: 40px; height: 40px;
  }
  .logo{
    flex-basis: 80%;
  }
  figcaption{
    font-size: 2rem;
  }
  .mobile-menu{
    display: flex;
    flex-basis: 20%;
    justify-content: end;
  }
  .hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  .bar{
    background-color: white;
    width: 23px;
    height: 2px;
    display: flex;
    margin: 3px;
  }
  nav{
    display: none;
    right: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: rgb(50, 139, 169);
  }
  nav ul{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  nav ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px rgb(3, 24, 26) solid;
    padding: 10px 0;
  }
  .last{
    border: none;
  }
  nav ul li a{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(218, 208, 208);
  }
  nav.active{
    display: block;
  }
  .mobile-menu.active .bar:nth-child(2){
    opacity: 0;
  }
  .mobile-menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .mobile-menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  #cryptocurrencies h2, .whatsapp-page h2{
    font-size: 1.5rem
  }
  .fa-whatsapp{
    font-size: 2rem;
  }
  .whatsapp-page article a{
    padding: 6px;
    align-self: center;
    width: 45%;
    background-color: white; 
  }
  .whatsapp-page article a span{
    font-size: 1rem;
  }

  .newsBox{
    margin: 0;
    min-width: 100%;
    /* height: 300px; */
  }
}

@media screen and (max-width: 560px){
  figcaption{
    font-size: 1.7rem;
  }
  .tokenDiv, .priceDiv , .marketCapDiv, .hourDiv{
    font-size: 0.85rem;
  }
  header img{
    width: 31px; height: 31px;
  }

}
