.chart-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: rgb(190, 186, 186);
  padding: 20px 0;

  select{
    // display: block;
    font-size: 16px;
    line-height: 1.3;
    padding: .6em .4em .5em .8em;
    width: 45%;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    cursor: pointer;
    outline: none;

    option{
      font-size: 14px;
      // padding: .6em .4em .5em .8em;
      color: grey;
      background-color: #fff;
    }

    &:focus{
      border-color: grey;
    }
  
  }

}